#home-body {
  background-color: #f6f3ee;
}

.home-links {
  font-size: 12px;
  writing-mode: vertical-lr;
  display: flex;
  transform: rotate(180deg);
  word-spacing: 1cm;
  letter-spacing: 1.2px;
  padding-left: 10%;
  font-family: "Montserrat", sans-serif;
}

.home-intro {
  display: inline;
  top: 0;
  margin-top: 22%;
  margin-right: 15px;
  text-align: justify;
  letter-spacing: 0.5px;
  font-family: "Montserrat", sans-serif;
}

.home-right-column {
  font-family: "Playfair Display SC", serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  padding-left: 16%;
}

.home-large-text {
  font-size: 145px !important;
  transition: transform 0.3s;
}

.home-large-text a {
  color: inherit;
  text-decoration: none;
}

.home-large-text:hover {
  transform: skew(-10deg);
}

.home-left-link {
  margin-top: 40px;
  padding-bottom: 300px;
}

.github {
  padding-bottom: 32px;
}

.home-links p a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s;
}

.home-links p a:hover {
  color: rgb(109, 179, 119);
}

@media only screen and (max-width: 768px) {
  .layer-one {
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden; /* Prevent horizontal scrolling */
  }

  .home-links {
    display: none; /* Hide home-links on mobile view */
  }

  .mobile-nav {
    display: flex; 
    flex-direction: row; 
    justify-content: space-around; 
    padding: 20px; 
  }

  .mobile-nav p {
    margin-right: 10px; 
  }

  .home-intro,
  .home-right-column {
    margin-top: 20px; 
    padding-left: 0; 
  }

  .home-large-text {
    font-size: 60px !important;
    margin-top: 10px;
    overflow: hidden; 
  }
}
