/* Base styles */
#home-body {
  background-color: #f6f3ee;
}

.home-links {
  font-size: 12px;
  writing-mode: vertical-lr;
  display: flex;
  transform: rotate(180deg);
  word-spacing: 1cm;
  letter-spacing: 1.2px;
  padding-left: 10%;
  font-family: "Montserrat", sans-serif;
}

.home-intro {
  display: inline;
  top: 0;
  margin-top: 22%;
  margin-right: 15px;
  text-align: justify;
  letter-spacing: 0.5px;
  font-family: "Montserrat", sans-serif;
}

.home-right-column {
  font-family: "Playfair Display SC", serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  padding-left: 16%;
}

.home-large-text {
  font-size: 145px !important;
  transition: transform 0.3s;
}

.home-large-text a {
  color: inherit;
  text-decoration: none;
}

.home-large-text:hover {
  transform: skew(-10deg);
}

.home-left-link {
  margin-top: 40px;
  padding-bottom: 300px;
}

.github {
  padding-bottom: 32px;
}

.home-links p a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s;
}

.home-links p a:hover {
  color: rgb(109, 179, 119);
}

/* Responsive adjustments */
@media (max-width: 1200px) {
  .home-links {
    word-spacing: 0.5cm; 
  }
  .home-right-column {
    padding-left: 10%; 
  }
}

@media (max-width: 992px) {
  .home-right-column {
    font-size: 90%; 
  }
  .home-large-text {
    font-size: 120px !important ; 
  }
}

@media (max-width: 768px) {
  #home-body {
    min-height: 100vh;
  }
  .home-links {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 0;
    transform: none;
    writing-mode: horizontal-tb;
    margin-top: 10px;
    width: 100%;
  }
  .home-left-link,
  .github,
  .home-links p {
    padding: 5px 10px;
    margin: 0;
  }
  .home-intro {
    display: block;
    margin-top: 20px;
    text-align: center;
  }
  .home-right-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .home-right-column a {
    font-size: 64px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 20px;
    font-weight: bold;
  }
  .home-large-text {
    font-size: 72px !important;
    margin-top: 20px;
    text-align: center; 
  }
  .home-right-column h1 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 480px) {
  .home-links {
    font-size: 10px;
  }
  .home-large-text {
    font-size: 48px !important; 
  }
}