#work-body {
  background-color: #1a1818;
  color: #ece7e1;
  height: 100vh;
}

.work-links {
  font-size: 12px;
  writing-mode: vertical-lr;
  display: flex;
  transform: rotate(180deg);
  word-spacing: 1cm;
  letter-spacing: 1.2px;
  padding-left: 10%;
  font-family: "Montserrat", sans-serif;
}

.work {
  display: inline;
  top: 0;
  margin-top: 22%;
  margin-right: 15px;
  text-align: start;
  letter-spacing: 0.5px;
  font-family: "Montserrat", sans-serif;
}

.work-right-column {
  font-family: "Playfair Display SC", serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  padding-left: 16%;
}

#work-large-text {
  font-size: 110px;
}

.work-large-text:hover {
  transform: skew(-10deg);
}

.work-left-link {
  margin-top: 40px;
  padding-bottom: 480px;
}

.work-links p a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s;
}

.work-links p a:hover {
  color: rgb(109, 179, 119);
}
/* Media queries for small and medium screens */
@media only screen and (max-width: 768px) {
  work-body {
    margin-top: 60px; /* Add margin to the top of the screen */
  }
  .work-links {
    writing-mode: horizontal-tb; /* Switch to horizontal for smaller screens */
    transform: none; /* Reset transform */
    padding-left: 0; /* Remove left padding */
    margin-bottom: 20px; /* Add some bottom margin */
    position: fixed; /* Position the work links at the top */
    top: 0; /* Align at the top */
    left: 0; /* Align at the left */
    width: 100%; /* Full width */
    background-color: #1a1818; /* Background color */
    z-index: 1000; /* Ensure it's on top of other content */
  }

  .work-links p {
    margin: 0;
    padding: 10px 15px;
    display: inline-block;
  }

  .work {
    margin-top: 50px; /* Add margin to accommodate the fixed work links */
  }

  .work-right-column {
    padding-left: 0; /* Remove left padding */
  }

  .work-left-link {
    margin-top: 0; /* Reset top margin */
    padding-bottom: 0; /* Remove bottom padding */
  }

  #work-large-text {
    font-size: 60px !important; /* Adjust font size for smaller screens */
  }
}
